.btnTop{
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.btnTop .btnFixed{
    position: fixed;
    background-color: rgb(254, 192, 48);
}



@media only screen and (max-width: 500px) {
    .btnTop {
        right: 50px;
        bottom: 50px;
    }
}